:root {
    --color1: #bceeff;
    --color2: #53d4ff;
    --color3: #0CB7F2; /* Forma de definir una variable */
    --color4: #0000ff;
    --color5: #fff;
    --color6: #000;

}

* {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color5);
}

.nombre {
    background-color: var(--color4);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 7px 2px var(--color3);
    font-size: 50px;
    color: var(--color5);
}

.contenedor {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(5, 1fr); /* En vez de poner 1 fr 5 veces */ /* fr es el espacio entre las columnas */
}

.barra-plegable {
    background-color: var(--color1);
    width: 190px;
    height: 45px;
    border: 1px solid var(--color4);
    box-shadow: 0px 2px 5px 2px var(--color3);
    font-size: 20px;
    cursor: pointer;
}

.boton {
    border-radius: 20px;
    background-color: var(--color1);
    width: 70px;
    height: 45px;
    border: 1.5px solid var(--color4);
    box-shadow: 0px 0px 5px 1px var(--color3);
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
}

.boton:hover {
    background-color: var(--color5);
    transform: scale(1.1);
}



.oculto {
    display: none;
    background-color: var(--color5);
    width: 230px;
    height: 30px;
    border: 1px solid var(--color4);
    box-shadow: 0px 2px 7px 2px var(--color3);
    font-size: 20px;
    grid-row: 2;
}

.select-y-boton {
    /* Revisa la anchura según tu diseño */
    padding: 10px;
}

